<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
	<!-- <property name="dialect" value="ORACLE" /> -->
		<property name="dialect" value="MYSQL" /> 
	</properties>

	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="autoMappingBehavior" value="FULL" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		
    
	</typeAliases>



	<typeHandlers>
		<typeHandler javaType="String" jdbcType="VARCHAR"
			handler="com.rapid.j2ee.framework.orm.mybatis.plugin.StringNullToEmptyTypeHandler" />

		<typeHandler javaType="String" jdbcType="CHAR"
			handler="com.rapid.j2ee.framework.orm.mybatis.plugin.StringNullToEmptyTypeHandler" />
	</typeHandlers>

	<objectFactory
		type="com.rapid.j2ee.framework.orm.mybatis.plugin.DefaultObjectSetCapacityFactory">
		<property name="List_Capacity" value="30" />
	</objectFactory>




</configuration>